@page
@model EFKomNU.Pages.Medarbejder.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Medarbejder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Medarbejder.Navn" class="control-label"></label>
                <input asp-for="Medarbejder.Navn" class="form-control" />
                <span asp-validation-for="Medarbejder.Navn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medarbejder.Email" class="control-label"></label>
                <input asp-for="Medarbejder.Email" class="form-control" />
                <span asp-validation-for="Medarbejder.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medarbejder.Tlf" class="control-label"></label>
                <input asp-for="Medarbejder.Tlf" class="form-control" />
                <span asp-validation-for="Medarbejder.Tlf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medarbejder.Titel" class="control-label"></label>
                <input asp-for="Medarbejder.Titel" class="form-control" />
                <span asp-validation-for="Medarbejder.Titel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
